/*
Colors:

blue: 3E92CC
off-white: EAFCF3
pink: CEB5A7
tan: C6C5B9
brown: A17C6B

*/


body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}

.navbar {
    width: 70%;
    height: 100%;
    float: left;
    box-shadow: 0 -0 24px rgba(0,0,0,0.5);
    background-color: #3E92CC;
    color: #EAFCF3;
}

.navbar-hdr {
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;
}

.navbar-menu-item {
    padding-left: 20px;
}

.navbar-menu-hdr {
    text-align: center;
}

.title {
    text-align: center;
}

.flex-item {
    flex: 1;
}

.flex-container {
    display: flex;
}

.navbar-link {
    text-decoration: none;
    color: #EAFCF3;
}

.line-break {
    height: 1px;
    background-color: #EAFCF3;
}

#toggle-navbar {
    padding-left: 10px;
    padding-top: 10px;
    color: #A17C6B;
}

.content {
    width: 100%;
    height: 100%;
}


/* ipad */
@media (min-width: 426px){
    .navbar {
        width: 50%;
    }
}

/* laptop */
@media (min-width: 769px){

    #toggle-navbar {
        display: none;
    }

    .navbar {
        width: 300px;
    }
}