<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title></title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/139a6099b5.js"></script>

    <!-- build:css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>

    
    <div id="navbar" class="navbar">
        <div class="navbar-hdr flex-container">
            <i class="fa fa-globe fa-2x item" aria-hidden="true"></i> <h3 class="title flex-item">Neighborhood Map</h3>
        </div>
        <div class="line-break"></div>
        <div class="navbar-content" id="navbar-scroll-div">
            <div class="navbar-hdr flex-container" data-bind="click: fav_click">
                <i id="drop-icon" data-bind="css: fav_menu_icon" aria-hidden="true"></i><h3 class="flex-item text-center"> Favorites</h3>
            </div>
            <div id="favorites">
                <div class="navbar-menu-items" data-bind="foreach: favorites">
                    <div data-bind="visible: ($index() != 0)" class="line-break-partial"></div>
                    <div class="navbar-menu-item restaurant-menu-item">
                        <div class="restaurant" data-bind="click: $parent.restaurant_clicked">
                            <img class="restaurant-img" data-bind="attr: { src: img }">
                            <div class="restaurant-details">
                                <h4 class="restaurant-name" data-bind="text: name">Restaurant name</h4>
                                <div data-bind="template: { name: get_rating_template }"></div>
                                <p class="address"><span data-bind="text: price">$</span> • <span data-bind="text: category">Bakery</span></p>
                            </div>             
                        </div>
                        <div class="restaurant-controls">
                            <a class="navbar-link ctrl-link" data-bind="click: $parent.toggle_favorite"><i class="fa fa-ban fa-2x" aria-hidden="true"></i> Remove</a>
                            <a class="navbar-link ctrl-link" data-bind="attr: { href: url }"><img class="yelp-logo" src="{{url_for('static', filename='img/Yelp_burst_positive.png')}}"> View on Yelp</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-break"></div>
            <div id="navbar-half" class="navbar-template" data-bind="template: { name: selected_view }">

            </div>
        </div>
    </div>

    <div class="content">
        <button id="toggle-navbar" class="open" data-bind="click: toggleNavbar"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
    </div>

    <script type="text/html" id="categories">
        <div class="navbar-menu-hdr">
            <h4>Categories</h4>
        </div>
        <div class="navbar-menu-items" data-bind="foreach: category_list">
            <div class="navbar-menu-item">
                <h4><a class="navbar-link" href="#" data-bind="text: $data, click: $parent.cat_clicked"></a></h4>
            </div>
        </div>
    </script>

    <script type="text/html" id="restaurants">
        <div class="navbar-hdr flex-container">
            <i class="fa fa-arrow-left" aria-hidden="true"></i><h4 class="flex-item title">Restaurants</h4>
        </div>
        <div class="navbar-menu-items" data-bind="foreach: restaurant_list">
            <div data-bind="visible: ($index() != 0)" class="line-break-partial"></div>
            <div class="navbar-menu-item restaurant-menu-item">
                <div class="restaurant" data-bind="click: $parent.restaurant_clicked">
                    <img class="restaurant-img" data-bind="attr: { src: img }">
                    <div class="restaurant-details" >
                        <h4 class="restaurant-name" data-bind="text: name">Restaurant name</h4>
                        <div data-bind="template: { name: get_rating_template }"></div>
                        <p class="address"><span data-bind="text: price">$</span> • <span data-bind="text: category">Bakery</span></p>
                    </div>             
                </div>
                <div class="restaurant-controls">
                    <a class="navbar-link ctrl-link" data-bind="click: $parent.toggle_favorite"><i class="fa fa-heart" data-bind="css: {favorite: favorite() }" aria-hidden="true"></i> Favorite</a>
                    <a class="navbar-link ctrl-link" data-bind="attr: { href: url }"><img class="yelp-logo" src="{{url_for('static', filename='img/Yelp_burst_positive.png')}}"> View on Yelp</a>
                </div>
            </div>
        </div>

    </script>

    <script type="text/html" id="rating_5">
        <img src="{{url_for('static', filename='img/small_5.png')}}">
    </script>

    <script type="text/html" id="rating_4.5">
        <img src="{{url_for('static', filename='img/small_4_half.png')}}">
    </script>

    <script type="text/html" id="rating_4">
        <img src="{{url_for('static', filename='img/small_4.png')}}">
    </script>

    <script type="text/html" id="rating_3.5">
        <img src="{{url_for('static', filename='img/small_3_half.png')}}">
    </script>

    <script type="text/html" id="rating_3">
        <img src="{{url_for('static', filename='img/small_3.png')}}">
    </script>

    <script type="text/html" id="rating_2.5">
        <img src="{{url_for('static', filename='img/small_2_half.png')}}">
    </script>

    <script type="text/html" id="rating_2">
        <img src="{{url_for('static', filename='img/small_2.png')}}">
    </script>

    <script type="text/html" id="rating_1.5">
        <img src="{{url_for('static', filename='img/small_1_half.png')}}">
    </script>

    <script type="text/html" id="rating_1">
        <img src="{{url_for('static', filename='img/small_1.png')}}">
    </script>

    <script type="text/html" id="rating_0">
        <img src="{{url_for('static', filename='img/small_0.png')}}">
    </script>
    

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- build:js -->
    <script src="{{url_for('static', filename='js/keys.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <!-- endbuild -->
    
</body>
</html>